body {
	padding-top: 65px;
	background-color: #34a9df;
	color: white;
}

p {
	padding-top: 20px;
}
.tickeryeti_brand {
	color: #15485f;
}

.link_color {
	color: #15485f;
}

.interface {
	padding-top: 70px;
	padding-left: 50px;
}

.custom-jumbotron{
	background:transparent !important;
}
